<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-20">
          <div class="progress-bar bg-primary progress-bar-striped active"  
                style="height:5px;" 
                [style.width]="getProgreso1"
                role="progressbar"> 
          </div> 
        </div>
        <div class="progress m-t-20">
          <div class="progress-bar bg-success progress-bar-striped active"  
                style="height:5px;" 
                [style.width]="getProgreso2"
                role="progressbar">             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>     
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (valorSalida)="progreso1=$event"
                            [valor]="progreso1">
        </app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (valorSalida)="progreso2=$event"
                          [valor]="progreso2"
                          [btnClass]="'btn-success'">
        </app-incrementador>
      </div>
    </div>
  </div>
</div>

<div class="row">


  <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Seleccion b</th> 
                <th>valor b</th> 
                <th>Seleccion c</th>
                <th>valor c</th> 

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elem of prueba;let i =index">
                <td>{{elem.a}}</td>
                <td>
                   
                    <div class="switch">
                        <label>
                            <input type="checkbox" 
                            [checked]="elem.b"
                            [(ngModel)]="elem.b" 
                            (ngModelChange)="selectMark($event,i)">
                            <span class="lever switch-col-amber"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <i *ngIf="elem.b" class="fa fa-check"></i>          
                <td>
                    <div class="demo-checkbox">
                        <input type="checkbox" id="basic_checkbox_1" 
                        [(ngModel)]="elem.c" 
                        (ngModelChange)="selectMark($event,i)"/>
                        <label for="basic_checkbox_1">Default</label>          
                    </div>
                </td>
                <td>
                    <i *ngIf="elem.c" class="fa fa-check"></i>       
                   
                <td>
            </tr>
        </tbody>
    </table>

</div>



</div>
